body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #79184d;
    color: white;
    padding: 15px;
}

.search-box {
    margin-top: 10px;
}

input {
    padding: 8px;
    width: 250px;
}

button {
    padding: 8px 15px;
    background-color: #cf328e;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #410020;
}

#message {
    margin: 20px;
    font-weight: bold;
    color: red;
}

#product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.product {
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 250px;
    margin: 10px;
    padding: 15px;
    text-align: left;
}

.product img {
    width: 100%;
    border-radius: 5px;
}

footer {
    background-color: #b33453;
    color: white;
    padding: 15px;
    margin-top: 20px;
}

